@font-face {
	font-family: 'Antwerp-Regular';
	src: url('../fonts/Antwerp-Regular.eot');
  src: url('../fonts/Antwerp-Regular.ttf') format('truetype'),
       url('../fonts/Antwerp-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Antwerp-Bold';
	src: url('../fonts/Antwerp-Bold.eot');
  src: url('../fonts/Antwerp-Bold.ttf') format('truetype'),
       url('../fonts/Antwerp-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AkkuratPro-Regular';
	src: url('../fonts/AkkuratPro-Regular.eot');
  src: url('../fonts/AkkuratPro-Regular.ttf') format('truetype'),
       url('../fonts/AkkuratPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AkkuratPro-Bold';
	src: url('../fonts/AkkuratPro-Bold.eot');
  src: url('../fonts/AkkuratPro-Bold.ttf') format('truetype'),
       url('../fonts/AkkuratPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.center { text-align: center; }
.no-border { border: 0; }
.no-padding { padding: 0; }
.block { display: block !important; }
.inlineb { display: inline-block; }
.no-margin { margin: 0 !important; }
.Antwerp-bold { font-family: 'Antwerp-Bold'; }
.bg-dash-black { position: fixed; z-index: 2; width: 100%; height: 100%; top: 0; left: 0;background: white url(../images/bgform2.png) no-repeat center center; background-size: cover; padding: 1.5%; color:black }

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

.intro {
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro h1 {
  padding-bottom: 20px;
}

.intro-tbl {
  width: 100%;
  height: 100%;
  display: table
}

.intro-tbl-td {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.slogan {
  font-family: 'Antwerp-Regular';
}

.getintouch {
  font-family: 'AkkuratPro-Regular';
  font-size: 12px;
  border: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  width: 110px;
  height: 40px;
  text-align: center;
  display: block;
  position: fixed;
  right: 30px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}

.getintouch span {
  width: 100%;
  height: 100%;
  line-height: 42px;
  display: block;
  background: #7d46fb;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.getintouch:hover span {
  color: #7d46fb;
  background: white;
}

.content-form .content-form-tbl,
.content-form .content-hou-tbl {
  display: table;
  width: 100%;
  height: 100%;
  background: white;
}

.content-form .content-tbl-td,
.content-form .content-hou-tbl-td {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.content-form .content-hou {
  width: 115px;
  width: 184px;
  height: 115px;
  font-family: 'Antwerp-Regular';
  font-size: 11px;
}

.content-form .content-hou .connected {
  vertical-align: top;
  padding: 34px 0 0 7px;
}

.content-form .three-getintouch {
  font-family: 'AkkuratPro-Bold';
  font-size: 85px;
  line-height: 1.1em;
}

.content-form .content-tbl-td {
  padding: 0 15px
}

.content-form .content-tbl-td-3 { width: 30%; }
.content-form .content-tbl-td-4 { width: 40%; }
.content-form .content-tbl-td-5 { width: 50%; }
.content-form .content-tbl-td-6 { width: 60%; }

.content-form .list-address {
  font-family: 'Antwerp-Regular';
  font-size: 11px;
  line-height: 1.3em;
  padding-top: 4px;
}

.content-form .list-address a {
  color: black;
}

.content-form .list-address .item-address {
  margin-top: 12px;
}

.content-form .list-address .item-address:first-child {
  margin-top: 0;
}

.content-form .list-address a.link-email:hover {
  text-decoration: underline;
}

.form-contact {
  width: 100%;
  font-size: 12px;
  font-family: 'AkkuratPro-Regular';
}

.form-contact .input-field {
  margin: 0;
}

.form-contact .input-field {
  margin: 0;
}

.form-contact .row-input-middle.input-field {
  width: 50%;
}

.form-contact .row-input {
  margin-top: 17px;
}

.form-contact .row-input:first-child {
  margin-top: 0;
}

.form-contact .btn-send {
  display: block;
  width: 70px;
  height: 40px;
  border: 0;
  padding: 0;
  text-align: center;
  line-height: 42px;
  background: #7d46fb;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-family: 'AkkuratPro-Regular';
  cursor: pointer;
  margin-top: 28px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form-contact .btn-send:hover {
  background: black;
  color:white;
}

input:not([type]), input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-color: black;
  font-size: 12px;
  font-family: 'AkkuratPro-Regular';
  height: auto;
  display: block;
  color: black;
  padding: 20px 0 9px;
}

textarea.materialize-textarea {
  height: auto;
  padding-bottom: 0;
}

.input-field>label {
  font-size: 12px;
  font-family: 'AkkuratPro-Regular';
  top: 10px;
  color: black;
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  border-color: #7d46fb !important;
}

input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){
  border-color: #7d46fb !important;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label{
  color:black !important;
}

.input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-7px) scale(0.8);
          transform: translateY(-7px) scale(0.8);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

/*input:not([type]):focus.valid ~ label,
input[type=text]:not(.browser-default):focus.valid ~ label,
input[type=password]:not(.browser-default):focus.valid ~ label,
input[type=email]:not(.browser-default):focus.valid ~ label,
input[type=url]:not(.browser-default):focus.valid ~ label,
input[type=time]:not(.browser-default):focus.valid ~ label,
input[type=date]:not(.browser-default):focus.valid ~ label,
input[type=datetime]:not(.browser-default):focus.valid ~ label,
input[type=datetime-local]:not(.browser-default):focus.valid ~ label,
input[type=tel]:not(.browser-default):focus.valid ~ label,
input[type=number]:not(.browser-default):focus.valid ~ label,
input[type=search]:not(.browser-default):focus.valid ~ label,
textarea.materialize-textarea:focus.valid ~ label {
  color: red;
}*/

input:not([type]).validate + label, input[type=text]:not(.browser-default).validate + label, input[type=password]:not(.browser-default).validate + label, input[type=email]:not(.browser-default).validate + label, input[type=url]:not(.browser-default).validate + label, input[type=time]:not(.browser-default).validate + label, input[type=date]:not(.browser-default).validate + label, input[type=datetime]:not(.browser-default).validate + label, input[type=datetime-local]:not(.browser-default).validate + label, input[type=tel]:not(.browser-default).validate + label, input[type=number]:not(.browser-default).validate + label, input[type=search]:not(.browser-default).validate + label, textarea.materialize-textarea.validate + label {
  color: rgba(0, 0, 0, 0.3) !important;
}

.close-form {
  position: absolute;
  top: 50px;
  right: 60px;
  font-family: 'AkkuratPro-Bold';
  color: black;
  font-size: 20px;
  cursor: pointer;
}

#content-form.content-form label.error {
  position: absolute;
  bottom: -18px;
  color: red !important;
  font-family: 'AkkuratPro-Regular';
  font-size: 11px;
  top: auto;
  -webkit-transform: translateY(0) scale(1) !important;
  transform: translateY(0) scale(1) !important;
}

#form-message {
  padding: 5px 5px 5px 5px;
  background: black;
  color: white;
  text-align: center;
  margin-top: 10px;
}


/* Icon 1 */
#nav-icon3 {
  width: 35px;
  height: 45px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 50;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

body.home #nav-icon3.open span,
body.interna #nav-icon3 span {
  background: black;
}

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 49;
  height: auto;
  line-height: normal;
  transition: all .3s ease;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

body.open-menu .nav {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.nav ul,
.nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: none;
}

.nav ul {
  padding: 60px 30px 0;
}


.nav li a {
  color: black;
  font-family: 'AkkuratPro-Regular';
  font-size: 14px;
  border-top: 1px solid black;
  padding: 10px 0;
}

.nav li:first-child a {
  border: 0;
}

.nav li a:hover {
  background: none;
}

.content-inner-interna {
  height: 100%;
  background: white;
  padding: 4% 2% 2% 2%;
}

.content-info-hacking-jersey {
  height: 100%;
  overflow: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  font-family: 'Antwerp-Regular';
  font-size: 16px;
}

.title-view {
  font-family: 'AkkuratPro-Bold';
  text-transform: uppercase;
}

.container-form {
  margin: 25px 0 25px;
}

.container-form iframe {
  width: 100%;
  height: 350px;
  display: block;
}

.content-text-hacking-jersey .text-hj {
  padding-left: 35%;
}

.content-text-hacking-jersey h3 {
  float: left;
  margin: 0;
  font-family: 'AkkuratPro-Bold';
  text-transform: uppercase;
  font-size: 30px;
}

.content-text-hacking-jersey .item-text-hj {
  margin-top: 40px;
}

.content-text-hacking-jersey .item-text-hj:first-child {
  margin-top: 0;
}

article[data-readmore] {
  transition: height 500ms;
  overflow: hidden;
}

.view-more {
  display: block;
  margin: auto;
  background: black;
  color: white;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  transition: all .3s ease;
}

.view-more:hover {
  background: white;
  color: black;
}

.less-text {
  display: none !important;
}

@media (max-width: 1024px ) {
  .title-view {
    font-size: 30px;
  }

  .content-info-hacking-jersey {
    padding-right: 0;
  }

  .content-text-hacking-jersey h3 {
    float: none;
    margin-bottom: 15px;
    font-size: 25px;
  }

  .content-text-hacking-jersey .text-hj {
    padding-left: 0;
  }

  .content-inner-interna {
    height: 100%;
    background: white;
    padding: 55px 20px 30px;
  }

  article[data-readmore] {
    height: auto !important;
  }

  .view-more {
    display: none;
  }
}

@media (max-width: 768px ) {
  .content-form .content-form-tbl,
  .content-form .content-tbl-td {
    display: block;
    width: 100% !important;
    height: auto !important;
  }

  .content-form .content-form-tbl {
    height: 100% !important;
    overflow: auto;
    padding: 25px 0;
  }

  .content-form .content-hou .connected {
    display: none;
  }

  .content-form .content-hou {
    width: 115px;
  }

  .content-form .three-getintouch {
    font-size: 35px;
    padding: 15px 0;
  }

  .content-form .three-getintouch div {
    display: inline;
  }

  .content-form .list-address {
    line-height: 1.6em;
  }

  .content-form .list-address .item-address {
    margin-top: 18px;
  }

  .form-contact .row-input-middle.input-field,
  .form-contact .btn-send {
    width: 100%;
  }

  .content-tbl-td-3 {
    margin: 40px 0 40px;
  }

  .close-form {
    top: 15px;
    right: 15px;
    font-size: 18px;
  }
}

@media (max-width: 680px ) {
  .getintouch {
    top: auto;
    right:auto;
    bottom: 26px;
    left: 50%;
    margin-left: -55px;
  }

  .intro {
    padding: 0 20px;
  }
}